.Wall{
    height: 70px;
    width: 70px;
    border: inset;
    
}
.Path{
    height: 70px;
    width: 70px;
    
}
#salamander{
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    
    
}

.cell {
    height: 70px;
    width: 70px;
}

.rowman{
    display:flex;
   
}

.Start{
    height: 70px;
    width: 70px;
    background-image:url("bl.jpg");
}

.OpenSpace{
    height: 70px;
    width: 70px;
    background-image:url("transparent.png");
    
}

.StartBox{
    height: 70px;
    width: 70px;
    background-image:url("Scrolls.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.StoreBox{
    height: 70px;
    width: 70px;
    /* background-color: red; */
}
#naruto{
    height: 100%;
    width: 100%;
    background-image: url("naruto2.gif_c200");
    background-size: cover;
}

body{
    background-image: url("tui.jpg");
}

#narut0x{
    height:500px;
    width:500px;
    background-image: url("qqq.gif_c200");
}
h1:hover{
    color:red;
    text-align:center;
    margin:auto;
    transition: all 2.3s ease;
    
}

#winner{
    position:absolute;
    top:90px;
    left: 800px;
    height:500px;
    width:300px;
    background-image:url("nine.gif");
    background-repeat: no-repeat;
}
#life{
position:absolute;
top:300px;
left:800px;
height:500px;
width:500px;
background-image:url("life.gif");
background-repeat: no-repeat;
}
#migos{
    position:absolute;
    top:190px;
    left: 1200px;
    height: 500px;
    width: 300px;
    background-image:url("yo.gif");
    background-repeat: no-repeat;
}

#force:hover{
    color:red;
    font-size:50px;
    left:500px;
    font-style:bold;
    transition: all 2.3s ease;
}
